@charset "utf-8";

:root {
    --primary-color: rgb(108, 31, 20);
    --secondary-color: rgb(224, 181, 79);
    --thirty-color: rgb(246, 222, 155);
}

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "century";
}

::selection {
    background-color: var(--secondary-color);
    color: #000000;
}

/*-webkit-box-refleckt: below 1px solid linear-gradient (transparent,#0004);*/

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

nav {
    z-index: 1;
    width: 22vw;
    height: 100vh;
    display: flex;
    color: white;
    position: fixed;
    flex-direction: column;
    background-color: var(--primary-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

nav img {
    top: 10px;
    left: 10px;
    width: 30px;
    height: 40px;
    position: absolute;
}

nav h1 {
    display: flex;
    height: 180px;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
}

nav h1 a {
    color: white;
    text-decoration: none;
}

ion-icon {
    font-size: 25px;
}

#nav {
    flex: 1;
    display: flex;
    counter-reset: liste 1;
    justify-content: space-evenly;
}

#nav ul {
    width: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-evenly;
}

#nav ul li {
    width: 85%;
    height: 40px;
    list-style: none;
    transition: all 0.4s ease-in;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#nav ul li::before {
    counter-increment: liste;
}

#nav ul li:hover,
#nav ul li.actif {
    color: black;
    background-color: var(--secondary-color);
}

#nav ul li a {
    height: 100%;
    color: white;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 0 0 5px;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#nav ul li a:hover,
#nav ul li.actif a.on {
    color: black;
}

#nav ul li a ion-icon {
    top: 6px;
    font-size: 25px;
    position: relative;
}

nav ul li .spanNotif {
    display: flex;
    align-items: center;
    display: inline-block;
    justify-content: center;
    color: var(--secondary-color);
    animation: notif 1s linear infinite;
}

nav ul li .spanNotif ion-icon {
    border-radius: 50%;
    animation: bord 1s linear infinite;
}

nav ul li.actif .spanNotif,
#nav ul li a:hover .spanNotif {
    color: var(--primary-color);
}

nav ul li.actif .spanNotif ion-icon,
nav ul li:hover .spanNotif ion-icon {
    color: var(--primary-color);
    animation: bordhover 1s linear infinite;
}

@keyframes notif {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.95);
    }
}

@keyframes bord {
    0% {
        background-color: rgb(255, 179, 1);
        box-shadow: 0 0 0 0 rgb(255, 179, 1);
    }

    70% {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
    }

    100% {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes bordhover {
    0% {
        background-color: rgb(108, 31, 20);
        box-shadow: 0 0 0 0 rgb(108, 31, 20);
    }

    70% {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
    }

    100% {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

aside {
    left: 22vw;
    width: 78vw;
    height: 100%;
    position: fixed;
    overflow: hidden;
    padding: 0 0 0 10px;
    transition: all 0.5s ease;
    background-color: var(--secondary-color);
}

aside::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.main {
    width: 100%;
    display: flex;
    padding: 5px;
    height: 100vh;
    transition: all 0.6s ease;
}

/*----------------------------------------main1---------------------------------------*/

#main1 {
    display: flex;
    height: 100vh;
    min-width: 900px;
}

#main1 form {
    margin: auto;
    overflow: hidden;
    position: relative;
    padding: 0 1.5rem 1rem;
    border-radius: 0.35rem;
    width: clamp(400px, 30%, 380px);
    border: 1px solid var(--primary-color);
    border-top: 7px solid var(--primary-color);
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
}

#main1 form::after {
    top: 0;
    left: 0;
    width: 50%;
    content: "";
    height: 100%;
    position: absolute;
    pointer-events: none;
    transform: skewX(-25deg);
    transform-origin: bottom left;
    background-color: rgba(2466, 222, 155, 0.18);
}

#main1 form h2 {
    margin: 1.5rem;
    text-align: center;
}

#main1 .progressbar {
    display: flex;
    position: relative;
    counter-reset: step;
    justify-content: space-between;
}

#main1 .progressbar::before,
#main1 .progress {
    top: 50%;
    height: 4px;
    width: 100%;
    content: "";
    position: absolute;
    background-color: white;
    transform: translateY(-50%);
}

#main1 .progress {
    width: 0%;
    transition: 0.3s;
    background-color: var(--primary-color);
}

#main1 .progress-step {
    z-index: 1;
    display: flex;
    transition: 0.5;
    width: 2.1875rem;
    height: 2.1875rem;
    font-weight: bold;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#main1 .progress-step::before {
    content: counter(step);
    counter-increment: step;
}

#main1 .progress-step::after {
    color: white;
    font-size: 0.85rem;
    position: absolute;
    top: calc(100% + 0.5rem);
    content: attr(data-title);
}

#main1 .progress-step-active {
    color: white;
    background-color: var(--primary-color);
}

#main1 [data-title].progress-step-active.progress-step::after {
    color: var(--primary-color);
}

#main1 #wrapper-list {
    height: 80%;
    width: 1880px;
    display: flex;
    flex-direction: row;
    transition: 0.5s ease;
    transform-origin: left;
    justify-content: flex-start;
}

#main1 .wrapper {
    margin-right: 1.5rem;
    width: calc(100% / 5);
}

#main1 label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#main1 label .obligatoire {
    color: red;
}

#main1 input,
select {
    width: 100%;
    outline: none;
    display: block;
    font-size: 17px;
    padding: 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

#main1 option {
    font-size: 20px;
    text-align: center;
    background-color: var(--thirty-color);
}

#main1 .input-group {
    margin: 2rem 0;
}

#main1 .btns-group {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#main1 .btn {
    display: flex;
    cursor: pointer;
    color: #f3f3f3;
    padding: 0.75rem;
    transition: 0.3s;
    align-items: center;
    text-decoration: none;
    border-radius: 0.25rem;
    justify-content: center;
    background-color: var(--primary-color);
}

#main1 .btn:hover {
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.5);
}

#main1 .width-50 {
    width: 50%;
}

#main1 .ml-auto {
    margin-left: auto;
}

/*----------------------------------------main2---------------------------------------*/

#main2 {
    margin: auto;
    display: flex;
    overflow: auto;
    flex-direction: column;
}

#main2::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

#main2::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}

#main2::-webkit-scrollbar-thumb {
    background-color: var(--thirty-color);
}

#main2 h1 {
    width: 100%;
    height: 70px;
    padding: 12px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: var(--primary-color);
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
}

#main2 #actionMain2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main2 #actionMain2 form {
    width: 100%;
    display: flex;
    font-weight: bold;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
}

#main2 #actionMain2 form input {
    width: 60%;
    outline: none;
    font-size: 17px;
    padding: 0.75rem;
    border-radius: 1.5rem;
    border: 1px solid #ccc;
}

#main2 #actionMain2 form button {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
}

#main2 #actionMain2 form button[type="submit"] {
    left: 56%;
    position: absolute;
    background-color: transparent;
}

#main2 #actionMain2 form select {
    width: 20%;
    outline: none;
    display: block;
    font-size: 17px;
    padding: 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

#main2 #actionMain2 form button ion-icon[name="download-outline"] {
    color: var(--primary-color);
}

#main2 #actionMain2 form .custom-confirm {
    top: 50%;
    left: 50%;
    width: 250px;
    height: 150px;
    padding: 15px;
    display: none;
    color: white;
    position: fixed;
    border-radius: 10px;
    transition: all 1s ease;
    flex-direction: column;
    border: 1px solid #ccc;
    justify-content: space-around;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
}

#main2 #actionMain2 form .message{
    position: relative;
    text-align: center;
}

#main2 #actionMain2 form .message ion-icon{
    position: relative;
    top: 7px;
    right: 5px;
}

#main2 #actionMain2 form .close{
    top: 10px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}

#main2 #actionMain2 form .custom-confirm #buttonconfirm{
    display: flex;
    justify-content: space-between;
}

#main2 #actionMain2 form .custom-confirm #buttonconfirm button{
    width: 75px;
    display: flex;
    border-radius: 0;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

#main2 #actionMain2 form .custom-confirm #buttonconfirm button#excel:hover{
    transform: scale(1.05);
    color: rgb(9, 153, 21);
    box-shadow: inset 4px 4px 4px rgba(9, 153, 21, 0.4);
}

#main2 #actionMain2 form .custom-confirm #buttonconfirm button#pdf:hover{
    transform: scale(1.05);
    color: rgb(250, 0, 0);
    box-shadow: inset 4px 4px 4px rgba(250, 0, 0, 0.4);
}

#main2 #actionMain2 form .custom-confirm #buttonconfirm button img{
    width: 20px;
    height: 20px;
}

#main2 table {
    width: 100%;
    margin: 30px auto;
    border-radius: 10px;
    border-collapse: collapse;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
}

#main2 th {
    color: white;
    background-color: var(--primary-color);
}

#main2 th,
td {
    padding: 8px;
    text-align: center;
    border: 1px solid #dddddd;
}

#main2 td .numDoc {
    padding: 5px;
    height: 40px;
    width: 120px;
    outline: none;
    color: black;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
}

#main2 td .numDoc:not([disabled]) {
    border: none;
    border-bottom: 1px solid black;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.5);
}

#main2 td .numDoc[disabled] {
    border: none;
}

#main2 td .numDoc::selection,
#main2 td .numDoc[disabled]::selection,
#main2 td .numDoc:not([disabled])::selection {
    background-color: white;
}

#main2 tr:hover {
    background-color: var(--thirty-color);
}

#main2 tr:nth-child(even) {
    background-color: var(--thirty-color);
}

#main2 .evolutionBar {
    height: 4px;
    border-radius: 7px;
    background-color: var(--secondary-color);
}

#main2 .evolutionBar .evolution {
    height: 4px;
    border-radius: 7px;
    background-color: var(--primary-color);
}

#main2 .ft-w {
    padding: 0 5px;
    font-weight: bold;
    background-color: #ffffff;
}

#main2 td a {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
}

#main2 .Actif a {
    color: green;
}

#main2 .En-cours a {
    color: var(--primary-color);
}

#main2 .Résilié a {
    color: red;
}

#main2 td.edition {
    color: white;
    background-color: var(--primary-color);
}

#main2 td.edition ion-icon {
    cursor: pointer;
}

#main2 td form.favoris {
    display: inline-block;
}

#main2 td form button {
    border: none;
    color: white;
    background-color: transparent;
}

/*----------------------------------------main3---------------------------------------*/

#main3 {
    width: 100%;
    display: flex;
    overflow: auto;
    position: relative;
    flex-direction: column;
}

#main3 h1 {
    width: 100%;
    height: 70px;
    padding: 17px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: var(--primary-color);
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
}

#main3 #form_search {
    display: flex;
    position: relative;
}

#main3 input#search {
    width: 80%;
    outline: none;
    margin: 0 auto;
    display: block;
    font-size: 17px;
    padding: 0.75rem;
    border-radius: 1.5rem;
    border: 1px solid #ccc;
}

#main3 [name="search-outline"] {
    top: 25%;
    right: 11%;
    display: block;
    cursor: pointer;
    position: absolute;
}

#main3 #table {
    width: 100%;
    display: flex;
    padding: 10px 0;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: flex-start;
}

#main3 .contrat {
    margin: 1px;
    padding: 5px;
    height: 110px;
    display: flex;
    overflow: none;
    cursor: pointer;
    min-width: 120px;
    position: relative;
    align-items: center;
    width: calc(100%/9);
    border-radius: 10px;
    transition: 0.5s ease;
    flex-direction: column;
    color: var(--primary-color);
    justify-content: space-evenly;
    background-color: var(--thirty-color);
    -webkit-box-refleckt: below 1px solid linear-gradient(transparent, #0004);
}

#main3 .contrat::before {
    top: 0;
    left: 5px;
    width: 30%;
    z-index: 0;
    content: '';
    height: 100%;
    position: absolute;
    pointer-events: none;
    transform: skew(-35deg);
    border-top-left-radius: 10px;
    transform-origin: bottom left;
    border-bottom-right-radius: 10px;
}

#main3 .contrat:hover::before {
    background-color: rgba(255, 255, 255, 0.2);
}

#main3 .contrat:hover {
    z-index: 1;
    border: none;
    transform: scale(1.05);
    border: 1px solid var(--primary-color);
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

#main3 .contrat .progressBar {
    width: 100%;
    height: 5px;
    border-radius: 7px;
    background-color: white;
}

#main3 .contrat .progressBar .progression {
    height: 100%;
    border-radius: 7px;
    transition: 0.6s ease;
    background-color: var(--primary-color);
}

#main3 #checkliste {
    top: 65px;
    left: 25%;
    z-index: 2;
    width: 500px;
    padding: 5px;
    height: 600px;
    display: none;
    position: absolute;
    border-radius: 10px;
    transition: 1s ease-in;
    border: 1px solid white;
    background-color: var(--primary-color);
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
}

@keyframes scale {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

#main3 #checkliste form {
    height: 100%;
    overflow: auto;
    border-radius: 1.5rem;
    background-color: white;
}

#main3 #checkliste form [type="submit"] {
    width: 25%;
    margin: auto;
    border: none;
    padding: 5px;
    display: none;
    color: green;
    cursor: pointer;
    margin: 10px auto;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#main3 form [type="submit"]:hover {
    border-radius: 1.5rem;
    border: 1px solid springgreen;
    box-shadow: 2px 2px 2px 5px rgba(0, 255, 127, 0.1);
}

#main3 #checkliste [name="pencil"] {
    cursor: pointer;
    transition: 0.5s ease-in;
}

#main3 #checkliste [name="pencil"]:hover {
    color: green;
    transform: scale(1.3);
}

#main3 #checkliste form::-webkit-scrollbar {
    width: 0px;
}

#main3 #checkliste form::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
}

#main3 #checkliste form::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}

#main3 #checkliste form h2 {
    margin-top: 10px;
    text-align: center;
    color: var(--primary-color);
}

#main3 #checkliste form .croix {
    top: -30px;
    width: 30px;
    right: -20px;
    display: flex;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    border-radius: 50%;
    align-items: center;
    transition: 0.3s ease;
    justify-content: center;
    background-color: white;
    color: var(--primary-color);
}

#main3 #checkliste form .croix:hover {
    color: red;
    animation: scale 1s infinite;
}

#main3 span.mini-title {
    font-size: 10px;
    text-align: center;
}

#main3 #checkliste #table1 {
    width: 100%;
    height: 30px;
    font-size: 12px;
}

#main3 #checkliste #table1 td {
    border: none;
    text-align: left;
    font-weight: bold;
}

#main3 #checkliste #table1 tr td:last-child {
    text-align: center;
    border: 1px solid black;
}

#main3 #checkliste #table2 {
    width: 100%;
    margin-bottom: 15px;
}

#main3 #checkliste #table2 tr th {
    color: white;
    background-color: var(--primary-color);
}

#main3 #checkliste #table2 tr {
    font-size: 12px;
}

#main3 #checkliste #table2 td {
    text-align: left;
    border: 1px solid black;
}

#checkliste #table2 td input[type="radio"].checked,
#checkliste #table2 td input[type="checkbox"].checked {
    background-color: var(--primary-color);
}

#checkliste #table2 td input[type="radio"]:checked,
#checkliste #table2 td input[type="checkbox"]:checked {
    color: var(--primary-color);
    background-color: var(--primary-color);
}

#notificationSound {
    display: none;
}

/* #main4{
    background-color: rgb(197, 165, 123);
} */

/* #main5{
    background-color: rgb(81, 3, 92);
} */

/* .main-active{
    height: 100vh;
    opacity: 1;
    display: flex;
    z-index: -1;
    transition: all 0.5s ease;
} */